html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Nevigation bar */
header {
  z-index: 3;
}

.content {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content img {
  height: 50px;
  margin-left: 10px;
}

.list {
  display: flex;
  justify-content: space-around;
}

.list li {
  margin: 5px; 
}

.list a {
  color: seashell;
  text-decoration: underline;
}

/* Main content */
main {
  position: relative;
  top: 69px;
}