html {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Nevigation bar */
header {
  z-index: 3;
}

.content {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content img {
  height: 50px;
  margin-left: 10px;
}

.list {
  display: flex;
  justify-content: space-around;
}

.list li {
  margin: 5px; 
}

.list a {
  color: seashell;
  text-decoration: underline;
}

/* Main content */
main {
  position: relative;
  top: 49px;
  width: 1200px;
  z-index: 0;
  margin: 0 auto;
}

/* Banner section */
.welcome {
  background-image: url('images/img-mission-background.webp');
  height: 700px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.banner {
  background-color: black;
  width: 100%;
}

/* Tea of the month section */
.month-tea {
  margin-bottom: 60px;
}

.tea-images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  margin: 20px;
}

.image img {
  height: 200px;
  width: 300px;
}

/* Locations section */
.locations {
  background-image: url('images/img-locations-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}

.loc {
  padding-top: 50px;
}

.spots {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.address {
  background-color: black;
  width: 300px;
  height:300px;
  margin: 0 20px;
}

/* Contact information section */
